@use 'base/mixins' as m;
@use 'base/variables' as v;

.hero{
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    
    &_texto{
        max-width: 60rem;
        color: v.$blanco;
    }

    &_enlace{
        @include m.boton(v.$terciario, v.$blanco);
    }
}